.main_box {
	height: 80%;
	width: 25%;
	position: absolute;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	top: 10%;
	left: 25%;
}
.selection_box {
	height: 85%;
	width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	top: 50px;
	left: 0%;
}
.component_button {
	width: 200px;
	height: 40px;
	border: none;
	border-bottom: 1px solid#bbb;
	margin: 0px;
	background-color: white;
	font-size: 15px;
}
.list_box {
	height: 85%;
	width: 200px;
	position: absolute;
	top: 50px;
	right: 0%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow-y: scroll;
	overflow-x: hidden;
}
.edit_box {
	height: 85%;
	width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	top: 50px;
	right: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.text_field {
	border: 0px solid rgb(230, 230, 230);
	background-color: rgb(250, 250, 250);
	outline: 3px solid rgba(0, 132, 255, 0.3);
	margin: 10px;
	padding: 2px;
	border-radius: 3px;
}
